@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

html, body {
  min-height: 100vh;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: ui-sans-serif, system-ui, -apple-system, "Apple SD Gothic Neo",
    "Pretendard", "Noto Sans KR", sans-serif;
}
